
// Color
$container_bg: #fff;
$header_text_color: #ffffff;
$header_border_color: rgba($header_text_color,.7);
$grid_text_color: #ffffff;
$grid_border_color: #414141;
$admin_menu_background: #ccc;
$admin_menu_color: #000000;
$admin_menu_line_color: #999999;

// Typography
$my_font_size: 16px;
$title_font_size: 40px;
$main_menu_height: 35px;

// Bootstrap
$grid-gutter-width: 15px;
